.skillListArea {
    @include flex(1);
    margin-left: 20px;
    max-width: calc(100% - #{$skillBoxWidth + 20px});
    &.addDisabled {
        .itemRow {
            span.fa-plus {
                color: lightgrey;
                pointer-events: none;
            }
            &:hover i.fa-close {
                display: none;
            }
        }
    }
    .skillTagsArea {
        margin-bottom: 10px;
        overflow: hidden;
        
        .skillTagsWithIcon {
            .skillBox {
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                @include transition(background-color .3s ease-in-out, background-color .3s ease-in-out);
                background-color: $grey;
                color: $black;
                border-radius: 5px;
                padding: 8px 10px;
                font-size: 12px;
                cursor: pointer;
                border: 1px solid $grey;
                line-height: 1em;
                &:not(:first-child) {
                    margin-left: 10px;
                }
                &.selectedTag,
                &:hover {
                    background-color: $orange;
                    color: white;
                }
                span {
                    white-space: nowrap;
                }
                i.fa {
                    margin-left: 10px;
                }
            }
        }
    }
    ul.listItems {
        margin: auto;
        padding: 0px;
        list-style: none;
    }
    .itemRow {
        @include flexbox();
        @include align-items(center);
        padding: 2px 8px;
        margin: 5px 0px;

        &.addItems {
            margin-top: 10px;
        }

        &:hover ,
        &:focus {
            border-radius: 20px;
            box-shadow: 0px 0px 1px 1px $orange;

            & i.fa-close {
                display: inline-block;
            }
        }
        span.fa {
            margin-right: 10px;
            color: $orange;
            padding-left: 3px;
            font-size: 16px;
            cursor: pointer;
        }
        i.fa-close,
        i.fa-check {
            display: none;
            cursor: pointer;
            border-radius: 50%;
            margin: auto;
            padding: 2px 3.8px;
            &:hover {
                box-shadow: 0px 0px 0px 0.5px black;
            }
        }
        .checkbox {
            padding-left: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            &.tagged,
            &.tagging {
                label {
                    &::before {
                        border-color: $orange;
                    }
                }
            }

            input[type='checkbox'] {
                margin-top: 4px;
                margin-left: -18px;
                z-index: 1;
                cursor: pointer;
                opacity: 0;

                &:disabled+label {
                    opacity: 0.65;
                    &::before {
                        background-color: #eeeeee;
                        cursor: not-allowed;
                    }
                }
            }
            label {
                display: inline-block;
                position: relative;
                padding-left: 0px;
                min-height: 13px;
                &::before,
                &::after {
                    @include position(absolute, left 0px margin-left -20px);
                    display: inline-block;
                }
                &::before {
                    content: "";
                    width: 17px;
                    height: 17px;
                    border: 1px solid $grey1;
                    border-radius: 3px;
                    background-color: transparent;
                    @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
                }
                &::after {
                    width: 16px;
                    height: 16px;
                    top: 0;
                    padding-left: 3px;
                    padding-top: 1px;
                    font-size: 11px;
                    color: #555555;
                }
            }
            &.checkbox-circle label::before {
                border-radius: 50%;
            }
            &.checkbox-primary input[type="checkbox"]:checked+label {
                &::before {
                    background-color: $orange;
                    border-color: $orange;
                }
                &::after {
                    color: #fff;
                }
            }
        }
        input[type='text'] {
            border: 0px;
            width: 100%;
            padding: 3px 5px;
            background-color: transparent;
            &:focus {
                outline: 0;
                border-bottom: 1px solid lightgrey;
                &~i.fa-check {
                    display: inline-block;
                    margin-right: 10px;
                    margin-left: 10px;
                    padding: 2px 2.4px;
                }
                &~i.fa-close {
                    display: inline-block;
                    padding: 2px 3.8px;
                }
            }
        }
    }
}