.ts-autocomplete {
    position: absolute;
    z-index: 99;
    width: 180px;
    box-shadow: -1px 1px 1px 0px #d4d4d4;
    // margin-top: 75px;
    max-height: 150px;
    overflow: auto;
    .autocomplete-list-item {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        &.autocomplete-list-item-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

        &.ac-not-found {
            text-align: center;

            > strong {
                font-size: 1.2em;
            }

            button.btn {
                margin-top: 10px;
            }
        }
        &:not(.ac-not-found):hover {
            background-color: #e9e9e9;
        }
    }
}