.ts-notify {
  position: fixed;
  bottom: 20px;
  z-index: 5000;
  left: 0px;
  right: 0px;
  margin: auto;
  display: inline-block !important;
  width: 300px;

  &.alert-success {
    box-shadow: 0px 0px 5px 0px darkgreen;
  }

  &.alert-danger {
    box-shadow: 0px 0px 5px 0px darkred;
  }

  &.alert-info {
    box-shadow: 0px 0px 5px 0px royalblue;
  }

  &.alert-warning {
    box-shadow: 0px 0px 5px 0px darkorange;
  }

  > h4 {
    box-shadow: 0px 1px 2px -2px #3c763d;
  }
}
